@model IEnumerable<aid_id.Models.Alimentos>

@{
    ViewBag.Title = "Alimentos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <h2>Alimentos</h2>

    <div class="row">
        <div class="col">
            <button class="btn btn-light" onclick="window.location.href='@Url.Action("Create","Alimentos")';">Añadir</button>
            <form asp-controller="Alimentos" asp-action="Search" method="get">
                <input type="text" name="filter">
                <button class="btn btn-light" onclick="window.location.href='@Url.Action("Index","Alimentos")';">Filtrar</button>

            </form>
        </div>
    </div>

    <div class="table-responsive div-food-class">
        <table class="table  table-striped">
            <thead class="table-dark">
                <tr>
                    <th colspan="2">
                        @Html.DisplayNameFor(model => model.Nombre)
                    </th>
                    <th>
                        CHs
                    </th>
                    <th>
                        Prot
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Grasas)
                    </th>
                </tr>
            </thead>
            <tbody class="table-light">
                @foreach (var item in Model)
                {
                    <tr>
                        <td scope="col">
                            <button class="btn btn-dark" onclick="window.location.href='@Url.Action("Edit", "Alimentos", new { id = item.Id_alimento })';">
                                <i class="far fa-edit"></i>
                            </button>
                        </td>
                        <td scope="col">
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td scope="col">
                            @Html.DisplayFor(modelItem => item.Carbohidratos)
                        </td>
                        <td scope="col">
                            @Html.DisplayFor(modelItem => item.Proteinas)
                        </td>
                        <td scope="col">
                            @Html.DisplayFor(modelItem => item.Grasas)
                        </td>
                    </tr>
                }
            </tbody>
        </table>


        <!--   PAGINATOR FOR CHANGE THE TOTAL 10 VIEW   (jqEx06)-->
        <div class="row">
            <div class="col">
                <ul id="exPagination" class="pagination-sm">
                    <li class="btPagination prev">
                        <a href="" class="exLink" id="prev">Prev</a>
                    </li>
                    <li class="btPagination">
                        <a href="" class="exLi"nk>1</a>
                    </li>
                    <li class="btPagination next">
                        <a href="OtherPage()" class="exLink" id="next">Next</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>

<script>
    var pagin;
    var direction;
    function OtherPage() {
        //window.location.href(direction);
        console.log("Recargando");
        return direction;
    }
    $('#exPagination').twbsPagination({
        totalPages: 20,
        visiblePages: 1,
        next: 'Next',
        prev: 'Prev',
        onPageClick: function ChangePage(event, page) {
            //fetch content and render here

            //location.href = d;
            console.log("Estás en la página " + page);
            $('#page-content').text('Page ' + page) + ' content here';
            direction = '@Url.Action("Index", "Alimentos")' + "?filter=\"\"pag=" + page;
            console.log(direction);
            //('#prev').addEventListener("click", OtherPage, false);
            //('#next').addEventListener("click", OtherPage, false);
        },
    });
</script>