@model aid_id.Models.Analisis

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Analisis</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Usuarios.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuarios.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha_hora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha_hora)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Intensidad_deporte)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Intensidad_deporte)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id_analisis }) |
    @Html.ActionLink("Back to List", "Index")
</p>
