@using System.Web

@{
    string test = "";
    if (HttpContext.Current.Request.Cookies["cookieLogin"] != null)
    {
        test = HttpContext.Current.Request.Cookies["cookieLogin"].Value;
        //TempData["test"] = test;
    }
    else
    {
        test = "0";
        //HttpContext.Current.Response.Cookies["cookieLogin"].Value = test;
        TempData["test"] = test;
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - AID-ID</title>

    <!-- <link href="~/Content/Site.css" rel="stylesheet" type="text/css" /> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/Css/styles.css">


    <!--  JQUERY     -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.js"></script>

    <!-- BOOTSTRAP: JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.js"></script>

    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-show-password/1.0.3/bootstrap-show-password.min.js"></script>

    <!-- JAVASCRIPT LIBRERY FOR MAKE GRAPHICS -->
    <script src="https://cdn.anychart.com/js/8.0.1/anychart-core.min.js"></script>
    <script src="https://cdn.anychart.com/js/8.0.1/anychart-pie.min.js"></script>

    <!-- FONT AWESOME LIBRERY FOR ICON BUTTONS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">


    <!--   PAGINATOR    -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twbs-pagination/1.4.1/jquery.twbsPagination.min.js"></script>

    <!--   CSS    -->
    <style>
    </style>
</head>
<body class="body-background-class">
    <header>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top">

            <a class="navbar-brand" href=@Url.Action("Index","Login")>AID-ID</a>

            <button class="navbar-toggler hideClass" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse hideClass" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <div class="nav-color-class" id="menu-average-id">
                        <a class="nav-item nav-link active" onclick="window.location.href='@Url.Action("","")';">PROMEDIOS <span class="sr-only">(current)</span></a>
                    </div>
                    <div class="nav-color-class" id="menu-food-id">
                        <a class="nav-item nav-link" onclick="window.location.href='@Url.Action("Index","Alimentos")';">ALIMENTOS</a>
                    </div>
                    <div class="nav-color-class" id="menu-settings-id">
                        <a class="nav-item nav-link" href="#">AJUSTES</a>
                    </div>
                    <div class="nav-color-class" id="menu-settings-id">
                        <a class="nav-item nav-link" onclick="window.location.href='@Url.Action("InsulineResults","InsulineResults")';">Resultados(pruebas)</a>
                    </div>
                    <div class="btn-group dropright pull-right">
                        <button type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-user"></i>
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Info</a>
                            <a class="dropdown-item" href="#">Settings</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Logout</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="container body-content">
        <div class="body-center-block-class">
            @RenderBody()
        </div>


        <footer class="fixed-bottom">
            <div class="footer-content-class">
                <p>&copy; @DateTime.Now.Year - AID-ID Application</p>
            </div>
        </footer>
    </div>
</body>
</html>

<script>/*
    alert(window.localStorage.getItem("Test"));   
    
    if (temp == "") {
        alert(window.localStorage.getItem("Test"));   
    } else {
        $(".hideClass").attr('style', 'display: none !important');
    }*/
</script>